GITHUB_USERNAME=Matithieu
GITHUB_TOKEN=
REPO1=https://github.com/Matithieu/InfoCompanies-API.git
REPO2=https://github.com/Matithieu/InfoCompanies-Front.git
REPO3=https://github.com/Matithieu/InfoCompanies-Scraping-API
REPO4=https://github.com/Matithieu/InfoCompanies-Data-Model

# https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
# To generate a random cookie secret, look at the link above
OAUTH2_PROXY_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=